{% extends 'base.html' %}

{% block main_menu%}
<ul class="menu">
	<li><a href="{% url home %}"><span><span>Home</span></span></a></li>
	<li><a href="{% url browsing %}"><span><span>Events</span></span></a></li>
	<li><a href="{% url contact %}"  class="active" ><span><span>Contact</span></span></a>    
</ul>
{% endblock %}

{% block content%}
<div class="BlockContent">
	<div class="BlockContent-body"> 
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Quisque sed felis. Aliquam sit amet felis. Mauris semper, velit semper laoreet dictum, quam diam dictum urna, nec placerat elit nisl in quam. Etiam augue pede, molestie eget, rhoncus at, convallis ut, eros. Aliquam pharetra. Nulla in tellus eget odio sagittis blandit. Maecenas at nisl. Nullam lorem mi, eleifend a, fringilla vel, semper at, ligula. Mauris eu wisi. Ut ante dui, aliquet nec, congue non, accumsan sit amet, lectus. Mauris et mauris. Duis sed massa id mauris pretium venenatis. Suspendisse cursus velit vel ligula. Mauris elit. Donec neque. Phasellus nec sapien quis pede facilisis suscipit. Aenean quis risus sit amet eros volutpat ullamcorper. Ut a mi. Etiam nulla. Mauris interdum.</p>
		<p><b>Collaborators:</b> Diogo, João</p>
		<p><b>Twitter:</b> Diogo, João</p>
		<p><b>Facebook:</b> Diogo, João</p>
		<p><b>E-mail:</b> event@sth</p>                
	</div>
</div>
{% endblock %}