{% extends 'base.html' %}

{% block main_menu%}
<ul class="menu" style="float:left">
	<li><a href="{% url home %}"><span><span>Home</span></span></a></li>
	<li><a href="{% url events %}"  class="active" ><span><span>Events</span></span></a></li>
	<li><a href="{% url contact %}"><span><span>Contact</span></span></a>    
</ul>
{% endblock %}

{% block scroll%}
<div class="content" style="width: 69%">
<div class="Block">
{% endblock %}

{% block content %}
<div class="BlockContent">
    <div class="BlockContent-body">
        <div class="post" id="post-9" about='{% url event-detail event.id %}' typeof='me:Event'>
            <h2><a property='me:Name' href="#">{{event.get_name}}</a></h2>
            <div class="entry">
                <p rel='me:performed_by'>
					<b>Artist: </b> 
					{% for artist in event.get_artists %}
					<span about='{% url artist-detail artist.id %}' typeof='me:Performer'>
						<a property='me:Name' href= "{% url artist-detail artist.id %}">{{artist.get_name}}</a>
					</span>
					{% endfor %}
				 </p>
                <p rel='me:takes_place' >
					<span about='{{event.get_place.uri}}' typeof='me:Place'>
					<b>Place: </b><span property='me:Name'>{{event.get_place.get_name}}</span>
					</span>
				</p>
				<p><b>Address: </b>{{event.get_place.get_complete_address}} </p>
                <p rel='me:starts_at'>
					<span about='{{event.get_date.uri}}' typeof='me:Date'>
					<b>Date: </b><span property='me:Name'>{{event.get_date.get_name}}</span>
					</span>
				</p>
                <p><b>Description: </b><span property='me:Description'>{{event.get_description|safe|linebreaks}}</span></p>
                <div style="clear: left;"></div>
            </div>         
        </div>
    </div>
</div>
{% endblock %}

{% block browsing_menu%}
<div class="Block" style="width: 30%;">
   <div class="Block-body">
       
       <div class="BlockHeader">
           Sugestions                
           <div class="l"></div>
           <div class="r"><div></div></div>
       </div>
       
       <div class="BlockContent">
           <div class="BlockContent-body" style="margin:11px 11px 0px 11px">
               <div style="width: 93%; float:right">
				{% for ev in event_list%}
				{% if ev.id != event.id %}
				<span about='{% url event-detail ev.id %}' typeof='me:Event'>
                 <li style="text-align: left"><a property='me:Name' href="{% url event-detail ev.id %}" >{{ev.get_name}}</a></li><p></p>
				</span>
				{% endif %}  
				{% endfor %}  
               </div>
            </div>
       </div>
       
   </div>
   <div class="Block-tl"></div>
   <div class="Block-tr"><div></div></div>
   <div class="Block-bl"><div></div></div>
   <div class="Block-br"><div></div></div>
   <div class="Block-tc"><div></div></div>
   <div class="Block-bc"><div></div></div>
   <div class="Block-cl"><div></div></div>
   <div class="Block-cr"><div></div></div>
   <div class="Block-cc"></div>
</div>
{% endblock %}
