
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head> 
    <title> EventSemantic </title> 
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />  
    <link rel="stylesheet" href="/media/css/style.css" type="text/css" />
	{% block headers%}{% endblock %}
</head> 

<body>
    <div class="PageBackgroundGlare">
        <div class="PageBackgroundGlareImage"></div>
    </div>
    
    <div class="Main">
        <div class="Sheet">
            <div class="Sheet-body">
                
                <div class="Header">
                    <div>
                        <table class="logo">
                          <tr><td class="logo-name"><a href="#">EventSemantic</a></td></tr>
                          <tr><td class="logo-text">Your music events</td></tr>
                        </table>
                    </div>
                </div>
    
                <div class="nav">
                    {% block main_menu%}{% endblock %}
                    <ul class="menu" style="width:31%; float:right">
                        <li><form method="get" id="searchform" action="{% url search %}">
                                <input type="text" value="" name="search_words" id="s" size="35"/>
                                <input type="submit" name="search" id="s1" value="search"/>
                            </form>
                        </li>
                    </ul>
                    <div class="l"></div>
                    <div class="r"><div></div></div>
                </div>
  
                <div class="contentLayout">
                		{% block scroll%}{% endblock %}
                            <div class="Block-body">
                                
                                <div class="Block-tl"></div>
                                <div class="Block-tr"><div></div></div>
                                <div class="Block-bl"><div></div></div>
                                <div class="Block-br"><div></div></div>
                                <div class="Block-tc"><div></div></div>
                                <div class="Block-bc"><div></div></div>
                                <div class="Block-cl"><div></div></div>
                                <div class="Block-cr"><div></div></div>
                                <div class="Block-cc"></div>
                            	{% block content%}{% endblock %}
                                
                                
                            </div>   
                        </div>
                    </div>
                </div>
                {% block browsing_menu%}{% endblock %}               
            </div>
        <div class="Sheet-tl"></div>
        <div class="Sheet-tr"><div></div></div>
        <div class="Sheet-bl"><div></div></div>
        <div class="Sheet-br"><div></div></div>
        <div class="Sheet-tc"><div></div></div>
        <div class="Sheet-bc"><div></div></div>
        <div class="Sheet-cl"><div></div></div>
        <div class="Sheet-cr"><div></div></div>
        <div class="Sheet-cc"></div>

    </div>
</body>
</html>
