a{
		color:red;
		text-decoration:none;
	}	
	body{
		font-size:0.8em;
		text-align:center;
		background-color:#E2EBED;
		font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
		margin:0px;
		padding:0px;
	}
	h1{
		font-size:1.3em;
	}	
	img{
		border:0px;
	}
	#mainContainer{
		width:760px;
		margin:0 auto;
		text-align:left;
		background-color:#FFFFFF;
		height:500px;
	}
	
	#leftContainer{
		width:10px;
		float:right;
		padding-left:5px;
		padding-right:5px;
		height:270px;
	}
	
	#contentContainer{
		width:580px;
		float:left;
		padding-left:10px;
	}
	.ad{
		clear:both;
		text-align:center;
		padding:5px;
	}	
	
	/* END DEMO CSS */
	#dhtmlgoodies_menu{		
		font-family:arial;	/* Font for main menu items */
		width:150px;	/* Width of main menu */
	}
	#dhtmlgoodies_menu	li{	/* Main menu <li> */
		list-style-type:none;	/* No bullets */
		margin:0px;	/* No margin - needed for Opera */
	}
	#dhtmlgoodies_menu ul li ul{	/* Styling for those who doesn't have javascript enabled  - sub menu items*/
		padding-left:10px;
	}
	
	#dhtmlgoodies_menu ul{	
		margin:0px;	/* No <ul> air */
		padding:0px;	/* No <ul> air */
	}	
	#dhtmlgoodies_menu	li a{	/* Main menu links */
		text-decoration:none;	/* No underline */
		color: #FFFFFF;
        font-family: 'Arial';
        font-size: 12px;
        font-weight: Bold;
        font-style: normal;  
		
		height:20px;	/* 20 pixel height */
		line-height:20px;	/* 20 pixel height */
		vertical-align:middle;	/* Align text in the middle */
		border:1px solid #000;	/* Black border */
		background-color:#3B3B3B;	/* Light blue background color */
		margin:1px;	/* A little bit of air */
		padding:1px;	/* Air between border and text inside */
		
		display:block;
	}
	#dhtmlgoodies_menu	li a:hover,#dhtmlgoodies_menu .activeMainMenuItem{
		color:#FFF;
		background-color:grey;
	}
	.dhtmlgoodies_subMenu{
		visibility:hidden;
		position:absolute;
		overflow:hidden;
		border:1px solid #000;
		background-color:#3B3B3B;
		font-family:arial;
		text-align:left;
	
	}
	.dhtmlgoodies_subMenu ul{
		margin:0px;
		padding:0px;	
	}
	.dhtmlgoodies_subMenu ul li{
		list-style-type:none;
		margin:0px;
		padding:1px;	/* 1px of air between submenu border and sub menu item - (the "white" space you see on mouse over )*/
	}
	.dhtmlgoodies_subMenu ul li a{	/* Sub menu items */
		white-space:nowrap;	/* No line break */
		text-decoration:none;	/* No underline */
		color:#FFFFFF;	/* Black text color */
		
		height:16px;	/* 16 pixels height */
		line-height:16px;	/* 16 pixels height */
		padding:1px;	/* 1px of "air" inside */
		
		display:block;	/* Display as block - you shouldn't change this */
	}
	.dhtmlgoodies_subMenu ul li a:hover{	/* Sub menu items - mouse over effects */
		color:#FFF;	/* White text */
		background-color:grey;	/* Blue background */
	}
