body
{
  margin: 0 auto;
  padding: 0;
  font-size: 62.5%; /* Resets 1em to 10px */
  font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
  background-color: #292F2F;
  color: #99A7A8;
}

h2
{
    font-size: 18px;
}

.Main
{
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.PageBackgroundGlare
{
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.PageBackgroundGlareImage
{
  background-image: url('images/Page-BgGlare.png');
  background-repeat: no-repeat;
  height: 431px;
  width: 260px;
  margin: 0;
}

/* specially for Opera */
html:first-child .PageBackgroundGlare
{
  border: 1px solid transparent;
}
/* specially for Opera */

* html .PageBackgroundGlareImage
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + (function(){var t=document.getElementsByTagName('link');for(var i=0;i<t.length;i++){var l=t[i];if(l.href&&/style\\.css$/.test(l.href))return l.href.replace('style.css','');}return '';})()+"images/Page-BgGlare.png',sizingMethod='crop')");
}

table, th, td
{
  font-size: 1em; 
  padding: 0; 
  border-collapse: collapse;
}

a img
{ 
  border: 0; 
}

a
{
  color: #3B3B3B;
}

a:link
{
  color: #3B3B3B;
}

a:visited
{
  color: #3B3B3B;
}

a:hover
{
  color: #4F4F4F;
}
/* end Page */

/* begin Box, Sheet */
.Sheet 
{
  min-width:61px;
  min-height:61px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  z-index: 0;

  width: 900px;
  
  
}


* html .Sheet 
{
  width:expression(this.offsetWidth < 61 ? 61+"px" : "auto !important");
  height:expression(this.offsetHeight < 61 ? 61+"px" : "auto !important");
  
  width: 900px;
  zoom: 1;
}


.Sheet-body 
{
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin: 0px;
  text-align: left;
}




.Sheet-tl 
{
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url('images/Sheet-s.png');
}

* html .Sheet-tl 
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + (function(){var t=document.getElementsByTagName('link');for(var i=0;i<t.length;i++){var l=t[i];if(l.href&&/style\\.css$/.test(l.href))return l.href.replace('style.css','');}return '';})()+"images/Sheet-s.png',sizingMethod='crop')");
}


.Sheet-tr 
{
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
}

* html .Sheet-tr 
{
  font-size: 1px;
  left: expression(this.parentNode.offsetWidth-30+'px');
}

.Sheet-tr div
{
  position: absolute;
  z-index: -1;
  top: 0px;
  left: -30px;
  width: 60px;
  height: 60px;
  background-image: url('images/Sheet-s.png');
}

* html .Sheet-tr div
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + (function(){var t=document.getElementsByTagName('link');for(var i=0;i<t.length;i++){var l=t[i];if(l.href&&/style\\.css$/.test(l.href))return l.href.replace('style.css','');}return '';})()+"images/Sheet-s.png',sizingMethod='crop')");
}

.Sheet-bl 
{
  position: absolute;
  overflow: hidden;
  z-index: -1;
  bottom: 0;

  left: 0;
  width: 30px;
  height: 30px;
}

* html .Sheet-bl 
{
  font-size: 1px;
  top: expression(this.parentNode.offsetHeight-30+'px');
}

.Sheet-bl div
{
  position: absolute;
  z-index: -1;
  top: -30px;
  left: 0;
  width: 60px;
  height: 60px;
  background-image: url('images/Sheet-s.png');
}

* html .Sheet-bl div
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + (function(){var t=document.getElementsByTagName('link');for(var i=0;i<t.length;i++){var l=t[i];if(l.href&&/style\\.css$/.test(l.href))return l.href.replace('style.css','');}return '';})()+"images/Sheet-s.png',sizingMethod='crop')");
}

.Sheet-br 
{
  position: absolute;
  overflow: hidden;
  z-index: -1;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 30px;
}

* html .Sheet-br
{
  font-size: 1px;
  top: expression(this.parentNode.offsetHeight-30+'px');
  left: expression(this.parentNode.offsetWidth-30+'px');
}

.Sheet-br div 
{
  position: absolute;
  z-index: -1;
  top: -30px;
  left: -30px;
  width: 60px;
  height: 60px;
  background-image: url('images/Sheet-s.png');
}

* html .Sheet-br div
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + (function(){var t=document.getElementsByTagName('link');for(var i=0;i<t.length;i++){var l=t[i];if(l.href&&/style\\.css$/.test(l.href))return l.href.replace('style.css','');}return '';})()+"images/Sheet-s.png',sizingMethod='crop')");

}

.Sheet-tc 
{
  position: absolute;
  overflow:hidden;
  z-index: -1;
  top: 0;
  left: 30px;
  right: 30px;
  height: 30px;
}

* html .Sheet-tc
{
  font-size: 1px;
  width: expression(this.parentNode.offsetWidth-60+'px');
}


.Sheet-tc div
{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-image: url('images/Sheet-h.png');
}

* html .Sheet-tc div
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + (function(){var t=document.getElementsByTagName('link');for(var i=0;i<t.length;i++){var l=t[i];if(l.href&&/style\\.css$/.test(l.href))return l.href.replace('style.css','');}return '';})()+"images/Sheet-h.png',sizingMethod='scale')");
}


.Sheet-bc 
{
  position: absolute;
  overflow:hidden;
  z-index: -1;
  bottom: 0;
  left: 30px;
  right: 30px;
  height: 30px;
}

* html .Sheet-bc
{
  font-size: 1px;
  top: expression(this.parentNode.offsetHeight-30+'px');
  width: expression(this.parentNode.offsetWidth-60+'px');
}

.Sheet-bc div 
{
  position: absolute;
  z-index: -1;
  top: -30px;
  left: 0;
  width: 100%;
  height: 60px;
  background-image: url('images/Sheet-h.png');
}

* html .Sheet-bc div
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + (function(){var t=document.getElementsByTagName('link');for(var i=0;i<t.length;i++){var l=t[i];if(l.href&&/style\\.css$/.test(l.href))return l.href.replace('style.css','');}return '';})()+"images/Sheet-h.png',sizingMethod='scale')");
}


.Sheet-cl 
{
  position: absolute;
  overflow:hidden;
  z-index: -1;
  top: 30px;
  left: 0;
  width: 30px;
  bottom: 30px;
}

* html .Sheet-cl
{
  font-size: 1px;
  height: expression(this.parentNode.offsetHeight-60+'px');
}

.Sheet-cl div
{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  background-image: url('images/Sheet-v.png');
}

* html .Sheet-cl div
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + (function(){var t=document.getElementsByTagName('link');for(var i=0;i<t.length;i++){var l=t[i];if(l.href&&/style\\.css$/.test(l.href))return l.href.replace('style.css','');}return '';})()+"images/Sheet-v.png',sizingMethod='scale')");
}

.Sheet-cr 
{
  position: absolute;
  overflow:hidden;
  z-index: -1;
  top: 30px;
  right: 0;
  width: 30px;
  bottom: 30px;
}

* html .Sheet-cr
{
  font-size: 1px;
  left: expression(this.parentNode.offsetWidth-30+'px');
  height: expression(this.parentNode.offsetHeight-60+'px');
}

.Sheet-cr div
{
  position: absolute;
  z-index: -1;
  top: 0;
  left: -30px;
  width: 60px;
  height: 100%;
  background-image: url('images/Sheet-v.png');
}

* html .Sheet-cr div
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + (function(){var t=document.getElementsByTagName('link');for(var i=0;i<t.length;i++){var l=t[i];if(l.href&&/style\\.css$/.test(l.href))return l.href.replace('style.css','');}return '';})()+"images/Sheet-v.png',sizingMethod='scale')");
}

.Sheet-cc 
{
  position: absolute;
  overflow:hidden;
  z-index: -2;
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  background-color: #E1E4E5;
}

* html .Sheet-cc
{
  font-size: 1px;
  width: expression(this.parentNode.offsetWidth-60+'px');
  height: expression(this.parentNode.offsetHeight-60+'px');
}
.Sheet
{
  margin-top: 0px !important;
  margin-bottom: 3em;
  padding: 0 0 1em 0;
}
/* end Box, Sheet */

/* begin Header */
div.Header 
{
  margin: 0 auto;
  position: relative;
  width: 900px;
  height: 250px;
}

* html div.Header 
{
  font-size: 1px;
}

div.Header  div
{
  width: 100%;
  height: 100%;
  background-image: url('images/my_logo2.jpg');
  background-repeat: no-repeat;
  background-position: center right;
  text-align: left;
}
/* end Header */

/* begin Logo */
.logo
{
  position: relative;
  left: 396px;
  top: 100px;
}

.logo td
{
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.logo-name
{
  font-size: 26px;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
}

.logo-name a
{
  text-decoration: none;
  color: #000000 !important;
}

.logo-text
{
  font-size: 18px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  color: #000000 !important;
}
/* end Logo */

/* begin Menu */
.menu, .menu ul
{
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
  display: block;
}

.menu li
{
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  float: left;
  position: relative;
  z-index: 5;
}

.menu li:hover
{
  z-index: 10000;
  white-space: normal;
}

.menu li li
{
  float: none;
}

.menu ul
{
  visibility: hidden;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
}

.menu li:hover>ul
{
  visibility: visible;
  top: 100%;

}

.menu li li:hover>ul
{
  top: 0;
  left: 100%;
}

.menu:after, .menu ul:after
{
  content: ".";
  height: 0;
  display: block;
  visibility: hidden;
  overflow: hidden;
  clear: both;
}
.menu, .menu ul
{
  min-height: 0;
}

.menu ul
{
  background-image: url(images/spacer.gif);
  padding: 10px 30px 30px 30px;
  margin: -10px 0 0 -30px;
}

.menu ul ul
{
  padding: 30px 30px 30px 10px;
  margin: -30px 0 0 -10px;
}


* html .menu, * html .menu ul
{
  height: 1%;
}

* html .menu li.menuhover
{
  z-index: 10000;
}

* html .menu .menuhoverUL
{
  visibility: visible;
}

* html .menu .menuhoverUL
{
  top: 100%;
  left: 0;
}

* html .menu .menuhoverUL .menuhoverUL
{
  top: 0;
  left: 100%;
}

* html .menu ul a
{
  height: 1%;
}

* html .menu li li
{
  float: left;
  width: 100%;
}

* html .menu .menuhoverUL .menuhoverUL
{
  top: 5px;
  left: 100%;
}

* html .menu, * html .menu ul
{
  height: 1%;
}

* html .menu li.menuhover
{
  z-index: 10000;
}

* html .menu .menuhoverUL
{
  visibility: visible;
}

* html .menu .menuhoverUL
{
  top: 100%;
  left: 0;
}

* html .menu .menuhoverUL .menuhoverUL
{
  top: 0;
  left: 100%;
}

* html .menu ul a
{
  height: 1%;
}

* html .menu li li
{
  float: left;
  width: 100%;
}
.nav
{
  position: relative;
  margin: 0  auto;
  width: 900px;
  height: 29px;
  z-index: 100;
}

.menu 
{
  padding: 3px 3px 3px 3px;
}

* html .nav
{
  zoom: 1;
}

.nav .l, .nav .r, .nav .r div 
{
  top: 0;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  height: 29px;
}

.nav .l 
{
  left: 0;
  right: 0px;
}

* html .nav .l
{
  width: expression(this.parentNode.offsetWidth-0+'px');
}

.nav .r 
{
  right: 0;
  width: 0px;
}

* html .nav .r
{
  left: expression(this.parentNode.offsetWidth-0+'px');
}

.nav .r div
{
  width: 900px;
  right: 0;
}

* html .nav .r div
{
  left: expression(this.parentNode.offsetWidth-900+'px');
}

.nav .l, .nav .r div 
{
  background-position: left top;
  background-repeat: no-repeat;
  /*background-color: black;*/
  background-image: url('images/nav.png');
}

* html .nav .l, * html .nav .r div 
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + (function(){var t=document.getElementsByTagName('link');for(var i=0;i<t.length;i++){var l=t[i];if(l.href&&/style\\.css$/.test(l.href))return l.href.replace('style.css','');}return '';})()+"images/nav.png',sizingMethod='crop')");
}
/* end Menu */

/* begin MenuItem */
.menu ul li
{
  clear: both;
}

.menu a , .menu a span
{
  height: 23px;
  display: block;
}

* html .menu a , * html .menu a span
{
  float: left;
}

.menu a
{
  cursor: pointer;
  text-decoration: none;
  margin-right: 4px;
  margin-left: 4px;
  
}
.menu a
{
  background-image: url('images/item-left.png');
  background-position: left top;
  background-repeat: no-repeat;
}

.menu a span
{
  background-image: url('images/item-right.png');
  background-position: right top;
  background-repeat: no-repeat;
}
.menu a span span
{
  font-family: 'Arial';
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: #D6DBDC;
  padding: 0 5px;
  margin: 0 8px;
  line-height: 23px;
  text-align: center;
  background-image: url('images/item-center.png');
  background-position: left top;
  background-repeat: repeat-x;
  
}

* html .menu a span span
{
  display: inline;
}
.menu a:hover
{
  background-position: left -23px;
}

.menu li:hover>a
{
  background-position: left -23px;
}

* html .menu .menuhover .menuhoverA
{
  background-position: left -23px;
}

.menu li:hover a span
{
  background-position: right -23px;
}

.menu a:hover span
{
  background-position: right -23px;
}

* html .menu .menuhover .menuhoverA span
{
  background-position: right -23px;
}

.menu a:hover span span
{
  color: #FFFFFF;
  background-position: left -23px;
}

.menu li:hover a span span
{
  color: #FFFFFF;
  background-position: left -23px;
}

* html .menu .menuhover .menuhoverA span span
{
  color: #FFFFFF;
  background-position: left -23px;
}

.menu a.active
{
  background-position: left -46px;
}

.menu a.active span

{
  background-position: right -46px;
}

.menu a.active span span
{
  color: #F0F0F0;
  background-position: left -46px;
}

/* end MenuItem */

/* begin MenuSeparator */

.nav .separator 
{
  display: block;
  width: 1px;
  height: 23px;
  background-image: url('images/item-separator.png');
}
/* end MenuSeparator */

/* begin ContentLayout */
.contentLayout
{
	margin-bottom: 18px;
	width: 100%;
	position: relative;
}/* end ContentLayout */

/* begin Button */
button.Button, a.Button
{
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  font-size: 100%;
  font-family: inherit;
  line-height: inherit;
  display: inline-block;
  overflow: visible;
  width: auto;
  cursor: default;
  white-space: normal;
  text-decoration: none;
}

.Button .btn 
{
  position: relative;
  display: block;
  overflow: hidden;
  float: left;
  z-index: 0;
  height: 31px;
  color: #FFFFFF;
}

.Button .t
{
  height: 31px;
  line-height: 31px;
  padding: 0 16px;
  text-align: left;
  font-family: 'Arial';
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

.Button .active
{
  color: #1F1F1F;
}

.Button .hover 
{
  color: #FAFAFA;
}

.Button .active .r 
{
  top: -62px;
}

.Button .hover .r 
{
  top: -31px;
}

.Button .r 

{
  display: block;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  right: 0;
  width: 10px;
  height: 93px;
}

* html .Button .r
{
  font-size: 1px;
  left: expression(this.parentNode.offsetWidth-10+'px');
}


.Button .r span
{
  display: block;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  right: 0;
  width:415px;
  height: 93px;
}

* html .Button .r span
{
  font-size: 1px;
  left: expression(this.parentNode.offsetWidth-415+'px');
}

.Button .active .l 
{
  top: -62px;
}

.Button .hover .l 
{
  top: -31px;
}

.Button .l 
{
  display: block;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  left: 0;
  right: 10px;
  height: 93px;
}

* html .Button .l
{
  font-size: 1px;
  width: expression(this.parentNode.offsetWidth-10+'px');
}


.Button .l, .Button .r span  
{
  background-image: url('images/Button.png');
}

* html .Button .l, * html .Button .r span
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + (function(){var t=document.getElementsByTagName('link');for(var i=0;i<t.length;i++){var l=t[i];if(l.href&&/style\\.css$/.test(l.href))return l.href.replace('style.css','');}return '';})()+"images/Button.png',sizingMethod='crop')");
}
/* end Button */

/* begin Box, Block */
.Block 
{
  min-width:29px;
  min-height:29px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  z-index: 0;
}


* html .Block 
{
  width:expression(this.offsetWidth < 29 ? 29+"px" : "auto !important");
  height:expression(this.offsetHeight < 29 ? 29+"px" : "auto !important");
  
  zoom: 1;
}


.Block-body 
{
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin: 4px;
  text-align: left;
}




.Block-tl 
{
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-image: url('images/Block-s.png');
}

* html .Block-tl 
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + (function(){var t=document.getElementsByTagName('link');for(var i=0;i<t.length;i++){var l=t[i];if(l.href&&/style\\.css$/.test(l.href))return l.href.replace('style.css','');}return '';})()+"images/Block-s.png',sizingMethod='crop')");
}


.Block-tr 
{
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
}

* html .Block-tr 
{
  font-size: 1px;
  left: expression(this.parentNode.offsetWidth-20+'px');
}

.Block-tr div
{
  position: absolute;
  z-index: -1;
  top: 0px;
  left: -20px;
  width: 40px;
  height: 40px;
  background-image: url('images/Block-s.png');
}

* html .Block-tr div
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + (function(){var t=document.getElementsByTagName('link');for(var i=0;i<t.length;i++){var l=t[i];if(l.href&&/style\\.css$/.test(l.href))return l.href.replace('style.css','');}return '';})()+"images/Block-s.png',sizingMethod='crop')");
}

.Block-bl 
{
  position: absolute;
  overflow: hidden;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 20px;
}

* html .Block-bl 
{
  font-size: 1px;
  top: expression(this.parentNode.offsetHeight-20+'px');
}

.Block-bl div
{
  position: absolute;
  z-index: -1;
  top: -20px;
  left: 0;
  width: 40px;
  height: 40px;
  background-image: url('images/Block-s.png');
}

* html .Block-bl div
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + (function(){var t=document.getElementsByTagName('link');for(var i=0;i<t.length;i++){var l=t[i];if(l.href&&/style\\.css$/.test(l.href))return l.href.replace('style.css','');}return '';})()+"images/Block-s.png',sizingMethod='crop')");

}

.Block-br 
{
  position: absolute;
  overflow: hidden;
  z-index: -1;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;
}

* html .Block-br
{
  font-size: 1px;
  top: expression(this.parentNode.offsetHeight-20+'px');
  left: expression(this.parentNode.offsetWidth-20+'px');
}

.Block-br div 
{
  position: absolute;
  z-index: -1;
  top: -20px;
  left: -20px;
  width: 40px;
  height: 40px;
  background-image: url('images/Block-s.png');
}

* html .Block-br div
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + (function(){var t=document.getElementsByTagName('link');for(var i=0;i<t.length;i++){var l=t[i];if(l.href&&/style\\.css$/.test(l.href))return l.href.replace('style.css','');}return '';})()+"images/Block-s.png',sizingMethod='crop')");
}

.Block-tc 
{
  position: absolute;
  overflow:hidden;
  z-index: -1;
  top: 0;
  left: 20px;
  right: 20px;
  height: 20px;
}

* html .Block-tc
{
  font-size: 1px;
  width: expression(this.parentNode.offsetWidth-40+'px');
}


.Block-tc div
{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-image: url('images/Block-h.png');
}

* html .Block-tc div
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + (function(){var t=document.getElementsByTagName('link');for(var i=0;i<t.length;i++){var l=t[i];if(l.href&&/style\\.css$/.test(l.href))return l.href.replace('style.css','');}return '';})()+"images/Block-h.png',sizingMethod='scale')");
}


.Block-bc 
{
  position: absolute;
  overflow:hidden;
  z-index: -1;
  bottom: 0;
  left: 20px;
  right: 20px;
  height: 20px;
}

* html .Block-bc
{
  font-size: 1px;
  top: expression(this.parentNode.offsetHeight-20+'px');
  width: expression(this.parentNode.offsetWidth-40+'px');
}

.Block-bc div 
{
  position: absolute;
  z-index: -1;
  top: -20px;
  left: 0;
  width: 100%;
  height: 40px;
  background-image: url('images/Block-h.png');
}

* html .Block-bc div
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + (function(){var t=document.getElementsByTagName('link');for(var i=0;i<t.length;i++){var l=t[i];if(l.href&&/style\\.css$/.test(l.href))return l.href.replace('style.css','');}return '';})()+"images/Block-h.png',sizingMethod='scale')");
}


.Block-cl 
{
  position: absolute;
  overflow:hidden;
  z-index: -1;
  top: 20px;
  left: 0;
  width: 20px;
  bottom: 20px;
}

* html .Block-cl
{
  font-size: 1px;
  height: expression(this.parentNode.offsetHeight-40+'px');
}

.Block-cl div
{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
  background-image: url('images/Block-v.png');
}

* html .Block-cl div
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + (function(){var t=document.getElementsByTagName('link');for(var i=0;i<t.length;i++){var l=t[i];if(l.href&&/style\\.css$/.test(l.href))return l.href.replace('style.css','');}return '';})()+"images/Block-v.png',sizingMethod='scale')");
}

.Block-cr 
{
  position: absolute;
  overflow:hidden;
  z-index: -1;
  top: 20px;
  right: 0;
  width: 20px;
  bottom: 20px;
}

* html .Block-cr
{
  font-size: 1px;
  left: expression(this.parentNode.offsetWidth-20+'px');
  height: expression(this.parentNode.offsetHeight-40+'px');
}

.Block-cr div
{
  position: absolute;
  z-index: -1;
  top: 0;
  left: -20px;
  width: 40px;
  height: 100%;
  background-image: url('images/Block-v.png');
}

* html .Block-cr div
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + (function(){var t=document.getElementsByTagName('link');for(var i=0;i<t.length;i++){var l=t[i];if(l.href&&/style\\.css$/.test(l.href))return l.href.replace('style.css','');}return '';})()+"images/Block-v.png',sizingMethod='scale')");
}

.Block-cc 
{
  position: absolute;
  overflow:hidden;
  z-index: -2;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background-color: #EEF0F0;
}

* html .Block-cc
{
  font-size: 1px;
  width: expression(this.parentNode.offsetWidth-40+'px');
  height: expression(this.parentNode.offsetHeight-40+'px');
}
.Block
{
  margin: 7px;
}

.Block table.table
{
  border-collapse: collapse;
  margin: 1px;
}

.Block table.table th, .Block table.table td
{
  padding: 2px;
  border: solid 1px #99A7A8;
}
/* end Box, Block */

/* begin BlockHeader */
.BlockHeader
{
  position: relative;
  overflow: hidden;
  height: 30px;
  /*width: 300px;*/
  z-index: 0;
  line-height: 30px;
  padding: 0 8px;
  margin-bottom: 0px;
  text-align: left;
  color: #FFFFFF;
  font-family: 'Arial';
  font-size: 12px;
  font-weight: Bold;
  font-style: normal;  
  text-decoration: none;
}

* html .BlockHeader
{
  zoom: 1;
}

.BlockHeader .l, .BlockHeader .r, .BlockHeader .r div 
{
  top: 0;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  height: 30px;
}

.BlockHeader .l 
{
  left: 0;
  right: 11px;
}

* html .BlockHeader .l
{
  width: expression(this.parentNode.offsetWidth-11+'px');

}

.BlockHeader .r 
{
  right: 0;
  width: 11px;
}

* html .BlockHeader .r
{
  left: expression(this.parentNode.offsetWidth-11+'px');
}

.BlockHeader .r div
{
  width: 900px;
  right: 0;
}

* html .BlockHeader .r div
{
  left: expression(this.parentNode.offsetWidth-900+'px');
}

* html .BlockHeader .l, * html .BlockHeader .r div 
{
  font-size: 1px;
}

.BlockHeader .l, .BlockHeader .r div 
{
  background-position: left top;
  background-repeat: no-repeat;
  background-image: url('images/BlockHeader.png');
}

* html .BlockHeader .l, * html .BlockHeader .r div 
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + (function(){var t=document.getElementsByTagName('link');for(var i=0;i<t.length;i++){var l=t[i];if(l.href&&/style\\.css$/.test(l.href))return l.href.replace('style.css','');}return '';})()+"images/BlockHeader.png',sizingMethod='crop')");
}
/* end BlockHeader */

/* begin Box, BlockContent */
.BlockContent 
{
  min-width:1px;
  min-height:1px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  z-index: 0;
  
  
}


* html .BlockContent 
{
  width:expression(this.offsetWidth < 1 ? 1+"px" : "auto !important");
  height:expression(this.offsetHeight < 1 ? 1+"px" : "auto !important");
  
  zoom: 1;
}


.BlockContent-body 
{
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin: 11px;
  text-align: left;
  color: #282E2F;
  font-family: 'Arial';
  font-size: 11px;
  font-weight: normal;
  font-style: normal;  
  text-decoration: none;
}

.BlockContent a
{
  color: #3B3B3B;
}
.BlockContent a:link
{
  color: #3B3B3B; 
}

.BlockContent a:hover
{
  color: #8C8C8C;
}
.BlockContent a:hover:visited
{
  color: #8C8C8C;
}

.BlockContent a:visited
{
  color: #262626;
}

/* end Box, BlockContent */

/* begin LayoutCell */
.contentLayout .content
{
	position: relative;
	margin:0;
	padding:0;
	border:0;
	float: left;
	overflow: hidden;
	width: 79%;
}
/* end LayoutCell */

/* begin LayoutCell */
.contentLayout .sidebar1
{
	position: relative;
	margin:8px;
	padding:0px;
	border:0;
	float: left;
	overflow: hidden;
	width: 97%;
}
/* end LayoutCell */



.sidebar1 ul, .sidebar2 ul, .sidebar3 ul
{
   list-style: none;
   padding:0;
   margin:0;
}

.sidebar1 ul ul, .sidebar2 ul ul, .sidebar3 ul ul
{
   padding:0 0 0 10px;
}

#footer
{
	text-align: center;
}

.post h2 a 
{
	text-decoration: none;
}

.aligncenter, div.aligncenter
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignleft
{
	float: left;
}

.alignright
{
	float: right;
}

.wp-caption
{
	border: 1px solid #ddd;
	text-align: center;
	background-color: #f3f3f3;
	padding-top: 4px;
	margin: 10px;
}

.wp-caption img
{
	margin: 0;
	padding: 0;
	border: 0 none;
}

.wp-caption p.wp-caption-text
{
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
}

.commentlist li .avatar
{
	float: right;
	border: 1px solid #eee;
	padding: 2px;
	background: #fff;
}

#commentform textarea
{
	width: 100%;
	padding: 2px;
}

.hidden
{
	display: none;
}

/* Calendar */
#wp-calendar {
	empty-cells: show;
	margin: 10px auto 0;
	width: 155px;
}

#wp-calendar #next a {
	padding-right: 10px;
	text-align: right;
}

#wp-calendar #prev a {
	padding-left: 10px;
	text-align: left;
}

#wp-calendar a {
	display: block;
}

#wp-calendar caption {
	text-align: center;
	width: 100%;
}

#wp-calendar td {
	padding: 3px 0;
	text-align: center;
}


#pagination-flickr li{
border:0; margin:0; padding:0;
font-size:12px;
list-style:none;
}
#pagination-flickr a{
/*border:solid 1px #DDDDDD;*/
margin-right:2px;
}
#pagination-flickr .previous-off,
#pagination-flickr .next-off {
color:#666666;
display:block;
float:right;
font-weight:bold;
padding:3px 4px;
}
#pagination-flickr .next a,
#pagination-flickr .previous a {
font-weight:bold;
/*border:solid 1px #FFFFFF;*/
}
#pagination-flickr .active{
/*color:#ff0084;*/
font-weight:bold;
display:block;
float:right;
padding:4px 6px;
}
#pagination-flickr a:link,
#pagination-flickr a:visited {
/*color:#0063e3;*/
display:block;
float:right;
padding:3px 6px;
text-decoration:none;
}
#pagination-flickr a:hover{

}

#a{
	color:red;
	text-decoration:none;
}	
#body{
	font-size:0.8em;
	text-align:center;
	background-color:#E2EBED;
	font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;

	margin:0px;
	padding:0px;
}
#h1{
	font-size:1.3em;
}	
#img{
	border:0px;
}
#mainContainer{
	width:760px;
	margin:0 auto;
	text-align:left;
	background-color:#FFFFFF;
	height:500px;
}

#leftContainer{
	width:160px;
	float:right;
	padding-left:5px;
	padding-right:5px;
	height:270px;
}

#contentContainer{
	width:580px;
	float:left;
	padding-left:10px;
}
.ad{
	clear:both;
	text-align:center;
	padding:5px;
}	

/* END DEMO CSS */
#dhtmlgoodies_menu{		
	font-family:arial;	/* Font for main menu items */
	width:150px;	/* Width of main menu */
}
#dhtmlgoodies_menu	li{	/* Main menu <li> */
	list-style-type:none;	/* No bullets */
	margin:0px;	/* No margin - needed for Opera */
}
#dhtmlgoodies_menu ul li ul{	/* Styling for those who doesn't have javascript enabled  - sub menu items*/
	padding-left:10px;
}

#dhtmlgoodies_menu ul{	
	margin:0px;	/* No <ul> air */
	padding:0px;	/* No <ul> air */
}	
#dhtmlgoodies_menu	li a{	/* Main menu links */
	text-decoration:none;	/* No underline */
	color: #FFFFFF;
    font-family: 'Arial';
    font-size: 12px;
    font-weight: Bold;
    font-style: normal;  
	
	width: 170px;
	height:20px;	/* 20 pixel height */
	line-height:20px;	/* 20 pixel height */
	vertical-align:middle;	/* Align text in the middle */
	border:1px solid #000;	/* Black border */
	background-color:#3B3B3B;	
	margin:1px;	/* A little bit of air */
	padding:1px;	/* Air between border and text inside */
	
	display:block;
}

#dhtmlgoodies_menu	li a:hover,#dhtmlgoodies_menu .activeMainMenuItem{
	color:#FFF;
	background-color:grey;
}
.dhtmlgoodies_subMenu{
	visibility:hidden;
	position:absolute;
	overflow:hidden;
	border:1px solid #000;
	background-color:#3B3B3B;
	font-family:arial;
	text-align:center;
    width: 80px;
}
.dhtmlgoodies_subMenu ul{
	margin:0px;
	padding:0px;	

}
.dhtmlgoodies_subMenu ul li{
	list-style-type:none;
	margin:0px;
	padding:1px;	/* 1px of air between submenu border and sub menu item - (the "white" space you see on mouse over )*/
}
.dhtmlgoodies_subMenu ul li a{	/* Sub menu items */
	white-space:nowrap;	/* No line break */
	text-decoration:none;	/* No underline */
	color:#FFFFFF;	/* Black text color */
	
	height:16px;	/* 16 pixels height */
	line-height:16px;	/* 16 pixels height */
	padding:1px;	/* 1px of "air" inside */
	
	display:block;	/* Display as block - you shouldn't change this */
}
.dhtmlgoodies_subMenu ul li a:hover{	/* Sub menu items - mouse over effects */
	color:#FFF;	/* White text */
	background-color:grey;	/* Blue background */
}


